- @question.answers.build
= form_for(@question, html: {class: 'form-horizontal'}, remote: true) do |f|
  .row-fluid
    .span6
      = content_for :subtitle
      - if @question.errors.any?
        #error_explanation
          %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
          %ul
            - @question.errors.full_messages.each do |msg|
              %li= msg

      .field
        .control-group
          = f.label :pathway_id, class: 'control-label'
          .controls
            = f.select :pathway_id, @pathways.to_a.map {|p| [p.name, p.id]}, class: 'question_attribute'
      .field
        .control-group
          = f.label :order, class: 'control-label'
          .controls
            = f.text_field :order, class: 'question_attribute'
      .field
        .control-group
          = f.label :text, class: 'control-label'
          .controls
            = f.text_area :text, rows: 2, class: 'question_attribute'

      .actions
        = f.submit 'Save'

    - if defined?(answers) ? answers : true
      .span6
        .row-fluid
          .span12
            %h4 Answers
        .row-fluid
          .span12
            = render partial: 'answers/fields', locals: {form: f}
