.row-fluid
  .span12
    %p#notice= notice

.row-fluid
  .span6
    %h4 Question

    %p
      %b Text:
      = @question.text

    %p= "Pathway: #{@question.pathway.name if @question.pathway.present?}"

    %span
      = link_to 'Edit', edit_question_path(@question)
      \|
      = link_to 'Back', questions_path
      \|
      = link_to 'Pathway', @parent_pathway

    %h4= "Answers"

    %table(border=true)
      %thead
        %th Text
        %th Goto pathway
      %tbody
        = render @question.answers

