.row-fluid
  .span6
    .row-fluid
      .span12
        %h4 Pathway
      .offset1.span11
        = link_to @question.pathway.name, @question.pathway
    .row-fluid
      .span12
        %h4 Question
      .offset1.span11
        %b Text:
        = @question.text

    .row-fluid
      .span12
        = link_to 'Edit', edit_question_path(@question)

  .span6
    .row-fluid
      .span12
        %h4= "Answers"

        %table(border=true)
          %thead
            %th Text
            %th Goto pathway
          %tbody
            = render @question.answers
