.row-fluid.jumbotron
  .span8
    .row-fluid#privacy-notice
      .span12
        .well
          %p 
            %span.bold Privacy Note:
            All answers you provide are retained only for the current session. You will not be asked for any personally identifying information will using this tool, and your answers will not be tied to any profile or login you may have on any site.
    .row-fluid.like-you.two
      .span12
        .well
          %h4 You are not alone
          %p{style: 'font-size: 1.9em; line-height: 2em'}
            93,000 women who have served are looking for jobs right now. We can help.
    .row-fluid.like-you.three
      .span12
        .well
          %h4 You have specialized skills
          %p{style: 'font-size: 1.9em; line-height: 2em'}
            Many service members have skills that can translate into civillian employment.
    .row-fluid.question-demo.one
      %h2.question-title Are you currently employed?
      .span4
        .btn.btn-large Yes
      .span4
        .btn.btn-large No
    .row-fluid.question-demo.two
      %h2.question-title Which one of these are true?
      .span4
        .btn.btn-large Do you feel qualified but are having trouble finding the right job?
      .span4
        .btn.btn-large You are having trouble matching your skills with a job?
      .span4
        .btn.btn-large Do you face serious barriers to finding and keeping employment?
    .row-fluid.question-demo.three
      %h2.question-title Do you feel underqualified?
      .span4
        .btn.btn-large Yes
      .span4
        .btn.btn-large No
    .row-fluid.question-demo.four
      %h2.question-title Are one of these true to you?
      .span4
        .btn.btn-large You are seeking skill training.
      .span4
        .btn.btn-large You feel the need to update your computer skills before finding a job.
      .span4
        .btn.btn-large You would like to further your education.
  .span4.sidebar-nav
    .row-fluid.sidebar.well
      .span12
        %h4 Helpful Resources Personalized for You
        %ul
          %li= link_to 'GI Bill','http://www.gibill.va.gov/'
          %li= link_to 'Department of Education', 'http://www.ed.gov/veterans-and-military-families/information%23benefits'
          %li= link_to 'V-wise', 'http://whitman.syr.edu/vwise/'
          %li= link_to 'Helmets to Hardhats', 'http://www.helmetstohardhats.org/'
          %li= link_to 'Veterans Transportation Center', 'http://www.dot.gov/veteranstransportationcareers'