- disabled ||= false
= form_for(@action, remote: false) do |f|

  .field
    .control-group
      = f.label :text, class: 'control-label'
      .controls
        = f.text_area :text, rows: 2, class: 'action_attribute'

  .field
    .control-group
      = f.label :pathway_id, 'Goto pathway', class: 'control-label'
      .controls
        = f.select :pathway_id, @pathways.collect {|p| [p.name, p.id]}, {include_blank: '(continue on current)'}

  .field
    .control-group
      = f.label :resource_ids, 'Resources', class: 'control-label'
      .controls
        = f.select :resource_ids, @resources.collect {|r| [r.name, r.id]}, {prompt: 'Select some resources...'}, {multiple: true, rows: 5}

  .action
    = f.submit
