.row-fluid
  .span6
    .row-fluid
      .span12
        %h4 Pathway
      .offset1.span11
        = link_to @answer.question.pathway.name, @answer.question.pathway
    .row-fluid
      .span12
        %h4 Question
      .offset1.span11
        = link_to @answer.question.text, @answer.question
    .row-fluid
      .span12
        %h4 Answer

      .offset1.span11
        .row-fluid
          .span12
            %b Text:
            = @answer.text

        .row-fluid
          .span12
            %b Reassurance:
            = @answer.reassurance

        .row-fluid
          .span12
            %b Goto pathway:
            - if @answer.goto_pathway.present?
              = link_to @answer.goto_pathway.name, @answer.goto_pathway
            - else
              (return to previous)

    .row-fluid
      .span12
        %span
          = link_to 'Edit', edit_answer_path(@answer)

  .span6
    .row-fluid
      .span12
        %h4 Resources for this Answer
        %table(border=true)
          %tr
            %th Name
            %th Link
            %th Starting Weight
          - @answer.resources.each do |r|
            %tr
              %td= r.name
              %td= r.link
              %td= r.starting_weight
