- if @reassurance.present?
  .well
    %h3
      %i= @reassurance

.row-fluid
  %div{class: "span#{@resources.count > 0 ? '8' : '12'}"}
    .hero-unit
      %h2= @question.text

    - @question.answers.each do |answer|
      - next_question = answer.next_question(@path_taken)
      - if next_question.present?
        - url = url_for([:ux, next_question])
        - url += '?p=' + @path_taken.join(',') + answer.id.to_s
        = link_to url, class: 'hero-unit btn btn-large btn-info' do
          %h3= answer.text
      - else
        - if admin_signed_in?
          = link_to answer.text, edit_answer_path(answer), class: "hero-unit btn btn-large btn-danger path-error"

  - if @resources.count > 0
    .span4
      %h4 Resources
      %table(border=1)
        %tbody
          = render @resources
