.row-fluid
  .span8.white
    %h2= @question.text
    - @question.answers.each do |answer|
      - next_question = answer.next_question(@path_taken)
      - if next_question.present?
        - url = "#{ux_question_path(next_question)}?p=#{@path_taken.join(',')},#{answer.id.to_s}"
        = link_to url, class: 'btn btn-answer' do
          = answer.text
      - else
        - if admin_signed_in?
          = link_to answer.text, edit_answer_path(answer), class: "btn btn-answer btn-danger path-error"

  .span4
    - if @resources.count > 0
      .row-fluid
        .span12.white
          %h2 Resources
          %table(border=1)
            %tbody
              = render @resources
      - if @reassurance.present?
        .row-fluid
          .span12.blue    
            %h2
              %i= @reassurance
    - else
      .row-fluid
        .span12.white
          %h2 Resources
      - if @reassurance.present?
        .row-fluid
          .span12.blue    
            %h2
              %i= @reassurance