.action.row-fluid
  .span3
    = f.label :text, 'Answer Text'
    = f.text_field :text
  .span3
    = f.label :goto_pathway, 'Go to Pathway'
    = f.select :goto_pathway, options_for_select([['This Pathway', @pathway.id]]+@pathways)
  .span3
    = f.label :connected_resource
    = f.select :connected_resource, options_for_select(@resources)
  .span3  
    = link_to_remove_fields "remove", f