= form_for(@pathway, remote: true, html: {class: 'form-horizontal'}) do |pf|
  .pathway
    .row-fluid.pathway-fields
      .span12
        = pf.label :name
        = pf.text_field :name

    = render partial: 'megaform_questions', locals: {pf: pf}

    .row-fluid.add-question-button
      .span12
        %button.add_question.btn.btn-mini(type='button') Add Question

    .row-fluid.submit-button
      .span12
        .actions
          = pf.submit 'Save Pathway', class: 'btn'
