- content_for :add_answer_button do
  .row-fluid.add-answer-button
    .offset1.span11
      %button.add_answer.btn.btn-mini(type='button') Add Answer

.questions
  - @pathway.questions.build
  = pf.fields_for :questions do |qf|
    - if qf.object.present? && qf.object.new_record?
      .question.template
        .row-fluid.question-template
          .offset1.span11
            = qf.label :text, 'New Question'
            = qf.text_field :text, size: '20x5'
            %button.remove_question.btn.btn-danger.btn-mini(type='button')
              %b &times;
        = render partial: 'megaform_answers', locals: {qf: qf}
        = content_for :add_answer_button
    - else
      .question
        .row-fluid.question-actual
          .offset1.span11
            = qf.label :text, 'Question'
            = qf.text_field :text
            .control-group
              = qf.label :_destroy, 'Remove:'
              .controls
                = qf.check_box :_destroy
        = render partial: 'megaform_answers', locals: {qf: qf}
        = content_for :add_answer_button
