.answers
  - qf.object.answers.build
  = qf.fields_for :answers do |af|
    - if af.object.present? && af.object.new_record?
      .answer.template
        .row-fluid
          .offset2.span10
            .control-group
              = af.label :text, 'Answer', class: 'control-label answers_attributes'
              .controls
                = af.text_field :text, class: 'answers_attributes'
                %button.remove_answer.btn.btn-danger.btn-mini(type='button')
                  %b &times;
            .control-group
              = af.label :reassurance, class: 'control-label answers_attributes'
              .controls
                = af.text_area :reassurance, class: 'answers_attributes'
    - else
      .answer
        .row-fluid
          .offset2.span10
            .control-group
              = af.label :text, 'Answer', class: 'control-label answers_attributes'
              .controls
                = af.text_field :text, class: 'answers_attributes'
            .control-group
              = af.label :reassurance, class: 'control-label answers_attributes'
              .controls
                = af.text_area :reassurance, class: 'answers_attributes'
            .control-group
              = af.label :_destroy, 'Remove:', class: 'control-label answers_attributes'
              .controls
                = af.check_box :_destroy, class: 'answers_attributes'
