- content_for :add_answer_button do
  .control-group
    .controls
      .row-fluid.add-answer-button
        .offset-half.span11
          %button.add_answer.btn.btn-mini.btn-primary(type='button') Add Answer

.questions
  - @pathway.questions.build
  = pf.fields_for :questions do |qf|
    - if qf.object.present? && qf.object.new_record?
      .question.template
        .row-fluid
          .offset-half.span10
            .control-group
              = qf.label :text, 'New Question', class: 'control-label questions_attributes'
              .controls
                = qf.text_field :text, class: 'questions_attributes'
                %button.remove_question.btn.btn-danger.btn-mini(type='button')
                  %b &times;
        = render partial: 'megaform_answers', locals: {qf: qf}
        = content_for :add_answer_button
    - else
      .question
        .row-fluid
          .offset-half.span9
            .control-group
              = qf.label :text, 'Question', class: 'control-label questions_attributes'
              .controls
                = qf.text_field :text, class: 'questions_attributes'
          .span2
            .control-group
              = qf.label :_destroy, 'Remove:', class: 'control-label questions_attributes'
              .controls
                = qf.check_box :_destroy, class: 'questions_attributes'
        = render partial: 'megaform_answers', locals: {qf: qf}
        = content_for :add_answer_button
