.row-fluid
  .span12.white
    %table(border=true)
      %thead
        %tr
          %th Pathway
          %th Actions
          %th Question
          %th Answer
          %th Goto pathway
          %th UX
      %tbody
        - @pathways.each do |pathway|
          - if pathway.questions.count > 0
            - new_pathway = true
            - p_rows = pathway.questions.reduce(0) {|tot, q| tot += [q.answers.count, 1].max }
            - pathway.questions.each do |question|
              - if question.answers.count > 0
                - new_question = true
                - q_rows = [question.answers.count, 1].max
                - question.answers.each do |answer|
                  %tr{class: "pathway_#{pathway.id}"}
                    - if new_pathway
                      %td{rowspan: p_rows}
                        = link_to pathway.name, pathway
                      %td{rowspan: p_rows}
                        = link_to 'Edit', edit_pathway_path(pathway), class: 'btn btn-mini'
                        = link_to 'Destroy', pathway, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini'
                      - new_pathway = false
                    - if new_question
                      %td{rowspan: q_rows}= link_to question.text, question
                      - new_question = false
                    %td= link_to answer.text, answer
                    %td
                      - if answer.end_of_path
                        %button.btn.btn-mini.btn-danger.disabled end of path
                      - elsif answer.goto_pathway.present?
                        = answer.goto_pathway.name
                      - else
                        (return to previous)
                    %td= link_to 'Next', "#{ux_question_path(answer.next_question)}?p=#{answer.id}", target: '_blank' if answer.next_question.present?
              - else
                %tr{class: "pathway_#{pathway.id}"}
                  - if new_pathway
                    %td{rowspan: p_rows}= link_to pathway.name, pathway
                    %td{rowspan: p_rows}
                      = link_to 'Edit', edit_pathway_path(pathway), class: 'btn btn-mini'
                      = link_to 'Destroy', pathway, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini'
                    - new_pathway = false
                  %td= link_to question.text, question
                  %td
                  %td
                  %td
          - else
            %tr{class: "pathway_#{pathway.id}"}
              %td= link_to pathway.name, pathway
              %td
                = link_to 'Destroy', pathway, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini'
                = link_to 'Edit', edit_pathway_path(pathway), class: 'btn btn-mini'
              %td
              %td
              %td
              %td

%br

.row-fluid
  .span12.white
    = link_to 'New', new_pathway_path, class: 'btn btn-mini'