.row-fluid
  .span6
    .row-fluid
      .span12
        %h4 Pathway
      .offset1.span11
        = @pathway.name

    .row-fluid
      .span12
        = link_to 'Edit', edit_pathway_path(@pathway), class: 'btn btn-small'
        = link_to 'Destroy', @pathway, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-small'
        = link_to 'Show All', pathways_path, class: 'btn btn-small'

  .span6
    %h4= "Questions for #{@pathway.name}"

    %table(border=true)
      %thead
        %tr
          %th Question
          %th Order
      %tbody
        = render partial: @pathway.questions
