.row-fluid
  .span12
    %p#notice= notice

.row-fluid
  .span6
    %h4= "Pathway: #{@pathway.name}"

    %div
      %span= link_to 'Edit', edit_pathway_path(@category)
      \|
      %span= link_to 'Back', pathways_path

    %h4
      Questions for
      %i= @pathway.name

    %table(border=true)
      %thead
        %tr
          %th Question
          %th Order
          %th Actions
      %tbody.pathway#questions
        - @questions.each do |question|
          = render question

  .span6
    %h4 Add a new question
    = render partial: 'questions/form', locals: {actions: false}
