= form_for(@resource, remote: true) do |f|
  - if @resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(@resource.errors.count, "error")} prohibited this resource from being saved:"
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name, class: "resource_attribute"
  .field
    = f.label :link
    = f.text_field :link, class: "resource_attribute"
  .field
    = f.label :starting_weight
    = f.number_field :starting_weight, class: "resource_attribute"
  .field
    - if @category.present?
      = f.hidden_field :category_id, value: @category.id
    - else
      = f.label :category
      = f.select :category_id, options_for_select(Category.all.collect{ |rc| [rc.name, rc.id]}), { include_blank: true }, class: "resource_attribute"
  .actions
    = f.submit 'Save'
