%tr{id: "resource_#{resource.id}"}
  %td= resource.name
  %td= resource.link
  %td= resource.starting_weight
  %td
    = link_to 'Edit', edit_resource_path(resource)
    = link_to 'Destroy', resource, method: :delete, remote: true, data: { confirm: 'Are you sure?' }
