%tr.resource{id: "resource_#{resource.id}"}
  %td.sortby= link_to resource.name, resource
  %td= resource.link
  %td= resource.starting_weight
  %td.category= link_to resource.category.name, resource.category if resource.category.present?
  %td
    = link_to 'Edit', edit_resource_path(resource)
    = link_to 'Destroy', resource, method: :delete, remote: true, data: { confirm: 'Are you sure?' }
