.row-fluid
  .span12
    %p#notice= notice

.row-fluid
  .span6
    %b Category Name:
    = @category.name

    %div
      %span= link_to 'Edit', edit_category_path(@category)
      \|
      %span= link_to 'Back', categories_path

    %br

    %p Resources for this category:

    %table
      %thead
        %tr
          %th Name
          %th Link
          %th Actions
      %tbody{id: "resources"}
        - @resources.each do |resource|
          = render resource

  .span6
    .hero-unit
      %h4 Create a new resource:
      = render 'resources/form'