.row-fluid
  .span12
    %p#notice= notice

.row-fluid
  .span6
    %h4= "Category: #{@category.name}"

    %div
      %span= link_to 'Edit', edit_category_path(@category)
      \|
      %span= link_to 'Back', categories_path

    %h4
      Resources for
      %i= @category.name

    %table(border=true)
      %thead
        %tr
          %th Name
          %th Description
          %th Link
          %th Starting Weight
          %th Actions
      %tbody.category#resources
        - @resources.each do |resource|
          = render resource

  .span6
    %h4 Add a new resource
    = render partial: 'resources/form'

