.row-fluid
  .span12
    %p#notice= notice

.row-fluid
  .span12
    %b Category Name:
    = @category.name

    %div
      %span= link_to 'Edit', edit_category_path(@category)
      \|
      %span= link_to 'Back', categories_path

    %br

    %p Resources for this category:

    %table(border=true)
      %thead
        %tr
          %th Name
          %th Link
          %th Starting Weight
          %th Actions
      %tbody.category{id: "resources"}
        = render partial: 'resources/new'
        - @resources.each do |resource|
          = render resource
