!!!
= render partial: 'layouts/common'
%html
  %head
    = content_for :title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      #main
        .container
          .row
            .span8.offset2
              = render partial: 'layouts/masthead'
          .row
            .offset2.span8
              = render partial: 'layouts/notice_and_alert'
              = yield
        #push
    = content_for :footer
