!!!
%html
  %head
    %title "Reconnecting Women Veterans"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      #main
        .container
          .masthead
            %h3.muted Helping woman who have served
            .navbar
              .navbar-inner
                .container
                  %ul.nav
                    %li{class:"#{'active' if controller == 'static_pages' && action == 'home'}"}
                      %a{href: '/'} Home
                    %li{class:"#{'active' if controller == 'static_pages' && action == 'demonstration'}", data: {:'no-turbolink'=>'true'}}
                      %a{href: '/demonstration'} Demonstration
                    %li
                      %a{href: '#'} Strategy
                    %li{class:"#{'active' if controller == 'static_pages' && action == 'demonstration'}"}
                      %a{href: '/contact-us'} Contact Us
          .row-fluid
            .span12
              = yield
        #push
    #footer
      .inner.centered
        %p
          Reconnecting Women Veterans 2013